.loginSubmit button {
    background-color: var(--white);
    color: var(--bgBlue);
    width: 45%;

}
.loginSubmit button:hover {
    background-color: var(--bgBlue);
    color: var(--white);
}
.loginSubmit input[type=submit] {
    width: 45%;
    color: var(--bgBlue);
    background-color: var(--white);
}
.loginSubmit input[type=submit]:hover {
    background-color: var(--bgBlue);
    color: var(--white);
}

.login .signPic {

    background-image: url('../resources/images/Desktop1.jpg');

}
