.loginSubmit button {
    background-color: var(--white);
    color: var(--bgBlue);
    line-height: 22px;
    width: 45%;
    height: 46px;
    border-radius: 8px;
}
.loginSubmit button:hover {
    background-color: var(--bgBlue);
    color: var(--white);
}
.loginSubmit input[type=submit] {
    width: 45%;
    color: var(--bgBlue);
    background-color: var(--white);
}
.loginSubmit input[type=submit]:hover {
    background-color: var(--bgBlue);
    color: var(--white);
}

.loginSubmit button a {
    color: inherit;
    font-weight: 600;
    line-height: 22px;
}
.login .signPic {

    background-image: url('../resources/images/Desktop1.jpg');

}
